* {  }

body {
    background-color: #e8d4c0;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: url(../assets/logo/ourson-clair.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

ul { width: 25% ;}

#header {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    font-size: 33px;
  }

  .logo2 {
    height: 180px;
    width: 180px;
  }
  .logo {
    width: 0;
    height: 0;
  }

  .pHeader{
    font-size: 50px;
    font-style: italic;
    color: #5e4a35;
  }
  .menu {
    height: 10px;
    width: 98%;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
  }

  .sider{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .SiderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 95%;

    border: solid black 1px;
    border-radius: 8px;
  }
  .menuSider {
    font-size: x-large;
    font-style: italic;
    color:  #9f7f5f;
    transition: 0.3s;

  }
  .menuSider:hover {
    transition: 0.5s;
    cursor: pointer;
    font-size: xx-large;
    color:  #5e4a35
  }
  h1 {
    font-size: 35px;
    font-style: italic;
    color: #5e4a35;
    text-decoration: none;
  } 

  .sider2 {
    text-decoration: none;
    
  }


  .footerContainer {
    display: flex;
    flex-direction: column;
    background-color: #c9aa8a;
    height: 80px;
    position: relative;
    bottom: 0px;
    width: 100%;
  }

  .aPropos {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .infoP2 {

    text-decoration: none;
    font-size: large;
    color: #6e4d2c;
  }
  .mail{
    font-size: x-large;
    color: #6e4d2c;
  }
  
  #footerList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 15px;
  }
  /* .retour {
    position: absolute;
    bottom: 30px;
    left:25px;
} */
img.qrFacebook {
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

img.qrInstagram {
    border-radius: 10px;

    width: 50px;
    height: 50px;
}


