
{% extends 'listings/index.html' %}
{% block content %}
<div class="info">

    
    <div class="one">
        <span class="spanOne">Bienvenue dans l'univers enchanté de Minette Crochette</span> 
        <p class="pOne">Une crocheteuse passionnée qui transforme fils et crochets en créations magiques.
            Mon métier, c'est de donner vie à des doudous, des hochets et des peluches au crochet, spécialement conçus pour les tout-petits, offrant douceur et réconfort à chaque point.</p>
    </div>
    <div class="two">
        <p class="pTwo">Mais mon art ne s'arrête pas là. Pour les plus grands, je tisse des histoires en fils colorés, confectionnant des œuvres uniques qui captivent l'imagination et ravivent la nostalgie de l'enfance.
            Plongez dans l'univers chaleureux de mes réalisations, où le crochet devient une symphonie de tendresse.</p>
            <span class="spanTwo">L'univers magique de Minette Crochette, où la passion devient métier, et chaque réalisation raconte une histoire d'amour et de fils.</span> 
    </div>

   
    
</div>
{% endblock %}