
{% extends 'listings/index.html' %}
{% block content %}
<div class="info">

    
    <div class="one">
        <span class="spanOne"> Minette Créations c'est .....  </span> 
        <p class="pOne">Passionnée par l’art du crochet, je crée avec amour des doudous, hochets et peluches tout doux, pensés pour apporter tendresse et réconfort aux tout-petits. 
            Chaque point de crochet raconte une histoire, et pour les plus grands, je réalise des œuvres uniques qui font voyager dans un monde de nostalgie et de rêves.</p>
    </div>
    <div class="two">
        <p class="pTwo">Mais la magie ne s’arrête pas là ! Mon savoir-faire s’étend également à la création de bougies artisanales, gourmandes et fondantes. 
            Ces petites merveilles sont conçues pour éveiller vos sens et transformer chaque instant en une expérience chaleureuse et délicieusement parfumée.</p>
            <p class="pOne"> Et parce que chaque moment spécial mérite une attention unique, je propose des créations personnalisées pour célébrer naissances, baptêmes et mariages, afin que chaque événement soit marqué par une touche de douceur et d’authenticité.</p>
            <br><span class="spanTwo">Découvrez un monde où fils, crochets et bougies se mêlent pour donner vie à des créations remplies de magie et d’émotions. </span>
              <br><span class="spanOne"> Minette Créations, là où la passion devient poésie. </span> 

    </div>

   
    
</div>
{% endblock %}