
{% extends 'listings/base.html' %}
{% block content %}
<br>
<h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta ipsam corrupti ab minus, dolor provident nulla sed
    laborum facere recusandae qui fugiat eius animi vero reprehenderit earum doloribus. Neque, quidem.</h1>
<br>
<span>qui fugiat eius animi vero reprehenderit earum doloribus</span>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat aut, nostrum odit ducimus illum placeat id
    maiores modi eius numquam nobis inventore. Dolor, possimus saepe? Dignissimos nostrum et laudantium assumenda hic
    cupiditate aperiam. Maiores vel et dolores vitae inventore veniam ratione sit esse minus laboriosam, mollitia hic
    soluta quia, dolor deserunt placeat eius impedit temporibus laudantium quis corporis beatae blanditiis est! Porro,
    consequatur cum omnis voluptates odit molestiae voluptatum corporis hic earum, sit maiores alias fuga? Velit, minima
    totam corrupti cumque mollitia odio amet et ipsa harum tempora accusantium laboriosam quos pariatur maiores earum
    magni neque voluptatem sapiente eaque aperiam quibusdam dolores! Voluptatem aperiam suscipit, dolor dolorem eligendi
    odit perferendis autem soluta possimus provident, adipisci doloribus ducimus eaque eveniet ipsam obcaecati a amet
    libero accusantium illo fuga. Dolores cum eius quia voluptas ex tempore mollitia, officia architecto, laborum sit
    obcaecati recusandae? Inventore nostrum voluptas laboriosam! Qui iste asperiores temporibus perspiciatis error eos
    rerum, neque inventore deserunt, tempora facilis perferendis, esse possimus a nihil ab. Error ad tempora voluptates,
    reprehenderit corrupti non voluptas magnam nam natus quam, laboriosam vitae! Sunt minus id laborum dolorem
    perferendis dolore numquam ratione, enim qui! Beatae officia fugiat cumque quidem asperiores assumenda harum
    doloremque numquam!</p>
{% endblock %}