
{% extends 'listings/index.html' %}

{% block content %}
<section class="card">
    {% for gourmande in tous_objets %}
      <div id="produit">
          <div class="detailCard">
            <h3 class="Hcard"><a class="Acard"  href="{% url 'afficher_image' 'gourmande' gourmande.id %}">{{ gourmande.nom }}</a></h3>
              <p class="pcard">Description: <span class="cardSpan">{{ gourmande.description }}</span></p>
              <p class="pcard">Couleur: <span class="cardSpan">{{ gourmande.couleur }}</span></p>
              <p class="pcard">Taille: <span class="cardSpan">{{ gourmande.taille }}</span></p>
              <p class="pcard">Matière: <span class="cardSpan">{{ gourmande.matiere }}</span></p>
          </div>
          <div class="imgCard">
              <a href="{% url 'afficher_image' 'gourmande' gourmande.id %}"> <img class="image" src="data:image/JPG;base64,{{ gourmande.image_base64 }}" alt="{{ gourmande.nom }}" /></a>
          </div>
      </div>
      {% empty %}
      <p>Aucun animal trouvé.</p>
      {% endfor %}
  </section>
    {% endblock %}