{% load static %}


{% block header %}

<div id="header">
   <a class="aHeader" href="{% url 'hello' %}"> <img src="{% static 'assets/logo/ourson.svg' %}" alt="logo" class="logo2 swing-rotate2" /></a>
   <a class="aHeader" href="{% url 'hello' %}"> <p class="pHeader">MINETTE</p></a>
   <a class="aHeader" href="{% url 'hello' %}"> <img src="{% static 'assets/logo/ourson.svg' %}" alt="logo" class="logo swing-rotate2" /></a>

    {% block carroussel %}
    {% include 'listings/carroussel.html' %}
    {% endblock %}

    <a class="aHeader" href="{% url 'hello' %}"> <p class="pHeader">CREATIONS</p></a>
        <a class="aHeader" href="{% url 'hello' %}"> <img src="{% static 'assets/logo/ourson.svg' %}" alt="logo" class="logo2 swing-rotate" /></a>
</div>

<div class="lienMenu">
    <a class="sider" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" href="#offcanvasExample" role="button" aria-controls="offcanvasWithBothOptions">
        <h1 class="menu1">Menu</h1>
        <img src="{% static 'assets/logo/hamburger-menu.svg' %}" alt="logo" class="menu2" />

    </a>
</div>

{% endblock %}